body{
  background-color: blue;
}

p{
  color: red;
}

#myContainer{
  margin-top: 50px;
  margin-right: 10%;
  margin-bottom: 15px;
  margin-left: 15%;
  border: black 3px solid;
}

#textBox{
  margin: 5px 1% 5px 1%;
  border: lightblue 1px dashed;
  padding: 10px 0% 10px;
}

#pictureBox{
  margin: 40px 25% 50px 25%;
  border: white 2px dashed;
}

img{
  margin: 0px;
  border: 1px white dashed;
  padding:20px 10px 20px 10px;
  height: 300px;
  width: 200px;
}
