.header1class
{
  color: pink;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  font-family: Arial;
}

.header2class
{
  font-size: 20px;
  color: purple;
  text-align: center;
}

.header3class
{
  font-size: 15px;
  color: darkblue;
  text-align: left;
}

h1, h2, h3
{
  text-decoration: underline;
  font-weight: bold;
}

body
{
  background-color: lightyellow;
}

p
{
  background-color: magenta;
}

div p
{
 font-size: 12px;
 color: darkblue;
}


.box
{
  height: 250px;
  width: auto;
  margin: 0 auto;
  background-color: lightpink;
  color: purple;
  text-align: center;
}

.relativeImg
{
  position: relative;
  margin: 30px;
  border: 3px darkblue solid;
  padding:20px 10px 20px 10px;
  background-color: lightblue;
  height: 400px;
  width: 600px;
  left: 350px;
}

.fixedImg
{
  position: fixed;
  top: 200px;
  right: 10px;
  height: 300px;
  width: 500px;
}

.absoluteImg
{
  position: absolute;
  left: 10px;
  top: 200px;
  right: 0px;
  bottom: 0px;
  height: 300px;
  width: 500px;
  z-index: -99
}
