.wrapper
{
  height: 600px;
  width: 1600px;
  margin: 0 auto;
  background-color: green;
  color: black;
}

#topleft
{
  width: 200px;
  height: 200px;
  background-color: blue;
  float: left;
}

#topright
{
  width:200px;
  height: 200px;
  background-color: red;
  float: right;
}

#bottomone
{
  width: 200px;
  height: 200px;
  background-color: yellow;
}


p {
  color: black;
  font-size: 15px;
}
